.buttonKey {
  height: 40px;
  width: 40px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1 0 30%;
  margin: 5px;
}

.numpad {
  display: flex;
  flex-wrap: wrap;
}
